<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monster game</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="./vue.js"></script>
</head>
<body>
<div id="app">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2>YOU</h2>
                <div class="power-bar">
                    <div class="power-content" :style="{width: outputMe + '%'}">
                        <span>{{outputMe}}</span>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <h2>MONSTER</h2>
                <div class="power-bar">
                    <div class="power-content" :style="{width: outputMonster + '%'}">
                        <span>{{outputMonster}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
        <div class="row">
            <div class="mx-auto"
                 v-if="showBtn">
                <button class="btn btn-dark"
                        @click="startNewGame()">
                        START NEW GAME</button>
            </div>
            <div class="mx-auto"
                 v-else>
                <button class="btn btn-danger"
                        @click="attackMonster()">
                        ATTACK</button>
                <button class="btn btn-warning"
                        @click="specialAttackMonster()">
                        SPECIAL ATTACK</button>
                <button class="btn btn-success"
                        @click="heal()">
                        HEAL</button>
                <button class="btn btn-primary"
                        @click="giveUp()">
                        GIVE UP</button>
            </div>
        </div>
    <div class="row">
        <div class="box">
            <ul style="list-style-type: none; display:inline-block;"
                v-for="(player, key) in hitPoints">
                <li v-for="value in player"
                    :class="{monster: key==='monster', me: key==='me'}">
                    {{ key }}: <span style="font-weight: bold; font-size: 18px;">{{ value }}</span>
                </li>
            </ul>
        </div>
    </div>
    </div>
</div>
</body>
</html>
<script>
    new Vue({
        el: '#app',
        data: {
            showBtn: true,
            currentAttackMe: 0,
            currentAttackMonster: 0,
            hitPoints: {
                me: [],
                monster: []
            },
            outputMe: 100,
            outputMonster:100,
            healMe: 0,
            healMonster: 0
        },
        watch: {
        },
        methods: {
            attackMonster: function() {
              this.currentAttackMe = parseInt(Math.random()*10) + parseInt(Math.random()*10);
              this.currentAttackMonster = parseInt(Math.random()*10) + parseInt(Math.random()*10);
              this.hitPoints.me.unshift(this.currentAttackMe);
              this.hitPoints.monster.unshift(this.currentAttackMonster);
              this.outputMe = this.outputMe - this.currentAttackMonster;
              this.outputMonster = this.outputMonster - this.currentAttackMe;
            },
            specialAttackMonster: function() {
              this.currentAttackMe = parseInt(Math.random()*10) + parseInt(Math.random()*10);
              this.currentAttackMonster = parseInt(Math.random()*10) + parseInt(Math.random()*10);
              this.hitPoints.me.unshift(this.currentAttackMe + 10);
              this.hitPoints.monster.unshift(this.currentAttackMonster + 10);
              this.outputMe = this.outputMe - this.currentAttackMonster;
              this.outputMonster = this.outputMonster - this.currentAttackMe;
            },
            heal: function() {
              this.healMe = parseInt(Math.random()*10) + parseInt(Math.random()*10);
              this.healMonster = parseInt(Math.random()*10) + parseInt(Math.random()*10);
              this.outputMe = this.outputMe + this.healMe;
              this.outputMonster = this.outputMonster + this.healMonster;
            },
            giveUp: function() {
              this.showBtn = !this.showBtn
              this.outputMe = 0;
            },
            startNewGame() {
              this.showBtn = !this.showBtn;
              this.outputMe = 100;
              this.outputMonster = 100;
            }
        }
    })

</script>
<style>
    .container h2 {
        text-align: center;
        margin-top:100px;
    }
    .row {
        text-align:center;
    }
    .box {
        width:300px;
        margin: 0 auto;
        margin-top:30px;
    }
    .box li:first-child {
      border: 2px black solid;
      padding:5px 10px;
    }
    .power-bar {
        height: 50px;
        width:200px;
        box-sizing: content-box;
        border: 1px solid black;
        margin: 0 auto;
    }
    .power-content {
        height: 50px;
        width:100%;
        background-color: hotpink;
    }
    .monster {
        background-color: darkred;
        color: white
    }
    .me {
        background-color: yellowgreen;
    }
</style>
