<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monster game</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="./vue.js"></script>
</head>
<body>
<div id="app">
    <div class="container">
        <div class="row">
            <h1 style="color: dodgerblue; margin: 0 auto;">{{ winner }}</h1>
        </div>
        <div class="row">
            <div class="col-6">
                <h2>YOU</h2>
                <div class="power-bar">
                    <div class="power-content"
                         :style="{width: players.me.output + '%'}"
                         style="max-width: 100%;">
                        <span>{{players.me.output}}</span>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <h2>MONSTER</h2>
                <div class="power-bar">
                    <div class="power-content"
                         :style="{width: players.monster.output + '%'}"
                          style="max-width: 100%;">
                        <span>{{players.monster.output}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
        <div class="row">
            <div class="mx-auto"
                 v-if="showBtn">
                <button class="btn btn-dark"
                        @click="startNewGame()">
                        START NEW GAME</button>
            </div>
            <div class="mx-auto"
                 v-else>
                <button class="btn btn-danger"
                        @click="attackMonster()">
                        ATTACK</button>
                <button class="btn btn-warning"
                        @click="specialAttackMonster()">
                        SPECIAL ATTACK</button>
                <button class="btn btn-success"
                        @click="heal()">
                        HEAL</button>
                <button class="btn btn-primary"
                        @click="giveUp()">
                        GIVE UP</button>
            </div>
        </div>
    <div class="row">
        <div class="box">
            <ul style="list-style-type: none; display:inline-block;"
                v-for="(player, key) in players">
                <li v-for="value in player.hitPoints"
                    :class="{monster: key==='monster', me: key==='me'}">
                    {{ key }}: <span>operator</span><span style="font-weight: bold; font-size: 18px;">{{ value }}</span>
                </li>
            </ul>
        </div>
    </div>
    </div>
</div>
</body>
</html>
<script>
/*to do:
-come up with solution for outputting winner
-loop for displaying hits -  come up how to pass operator sign
*/
    new Vue({
        el: '#app',
        data: {
            showBtn: true,
            sign: "",
            winner: "",
            currentAttackMe: 0,//to be deleted
            currentAttackMonster: 0, //to be deleted
            hitPoints: {
                me: [],//to be deleted
                monster: [] //to be deleted
            },
            outputMe: 100,//to be deleted
            outputMonster:100, //to be deleted
            healMe: 0, //to be deleted
            healMonster: 0 , //to be deleted
            players: {
                monster: {
                    currentAttack: 12,
                    hitPoints: [],
                    output: 100,
                    healValue: 0
                },
                me: {
                    currentAttack: 0,
                    hitPoints: [],
                    output: 100,
                    healValue: 0
                }
            }
        },
        watch: {
            outputMe: function() {
                if (this.players.me.output <= 0) {
                    this.winner = "And the winner is... MONSTER";
                    this.showBtn = true;
                }
            },
            outputMonster: function () {
                if (this.players.monster.output <= 0) {
                    this.winner = "And the winner is... YOU";
                    this.showBtn = true;
                }
            }
        },
        methods: {
           changeHealth: function(player, operator) {
               if (player.output > 0 && player.output < 101) {
                   player.currentAttack = parseInt(Math.random() * 10) + parseInt(Math.random() * 10);
                   player.hitPoints.unshift(player.currentAttack);
                   player.output = eval(player.output + operator + player.currentAttack);
                   //this.action = "-"
                   // console.log(player.currentAttack)
                   //  player.currentAttack = parseInt(Math.random() * 10) + parseInt(Math.random() * 10);
                   // console.log(player.currentAttack)
                 }
           },
           clearHitPoints: function (player1, player2) {
             player1.hitPoints = [];
             player2.hitPoints = [];
           },
            heal: function () {
              this.changeHealth(this.players.monster, "+")
              this.changeHealth(this.players.me, "+")
                // if (this.outputMe < 100 && this.outputMonster < 100) {
                //     this.healMe = parseInt(Math.random() * 10) + parseInt(Math.random() * 10);
                //     this.healMonster = parseInt(Math.random() * 10) + parseInt(Math.random() * 10);
                //     this.hitPoints.me.unshift(this.healMe);
                //     this.hitPoints.monster.unshift(this.healMonster);
                //     this.outputMe = this.outputMe + this.healMe;
                //     //this.maxMin(this.outputMe, this.healMe)
                //     this.outputMonster = this.outputMonster + this.healMonster;
                //     this.sign = "+"
                // }
            },
            attackMonster: function () {
              this.changeHealth(this.players.monster, "-")
              this.changeHealth(this.players.me, "-")
                // if (this.outputMe > 0 && this.outputMonster > 0 ) {
                //     this.currentAttackMe = parseInt(Math.random() * 10) + parseInt(Math.random() * 10);
                //     this.currentAttackMonster = parseInt(Math.random() * 10) + parseInt(Math.random() * 10);
                //     this.hitPoints.me.unshift(this.currentAttackMe);
                //     this.hitPoints.monster.unshift(this.currentAttackMonster);
                //     //this.takasobie(this.currentAttackMe, this.currentAttackMonster, this.hitPoints.me, this.hitPoints.monster);
                //     this.outputMe = this.outputMe - this.currentAttackMonster;
                //     this.outputMonster = this.outputMonster - this.currentAttackMe;
                //     this.sign = "-";
                //   }
            },
            specialAttackMonster: function () {
              this.changeHealth(this.players.monster, "-")
              this.changeHealth(this.players.me, "-")
                // if (this.outputMe > 0 && this.outputMonster > 0) {
                //     this.currentAttackMe = parseInt(Math.random() * 10) + parseInt(Math.random() * 10);
                //     this.currentAttackMonster = parseInt(Math.random() * 10) + parseInt(Math.random() * 10);
                //     this.hitPoints.me.unshift(this.currentAttackMe + 10);
                //     this.hitPoints.monster.unshift(this.currentAttackMonster + 10);
                //     this.outputMe = this.outputMe - this.currentAttackMonster;
                //     this.outputMonster = this.outputMonster - this.currentAttackMe;
                //     this.sign = "-"
                // }
            },
            giveUp: function () {
                this.showBtn = !this.showBtn;
                this.players.me.output = 0;
                this.clearHitPoints(this.players.me, this.players.monster);
            },
            startNewGame() {
                this.showBtn = !this.showBtn;
                this.players.me.output = 100;
                this.players.monster.output = 100;
                this.clearHitPoints(this.players.me, this.players.monster);
            }
        }

    })

</script>
<style>
    .container h2 {
        text-align: center;
        margin-top:100px;
    }
    .row {
        text-align:center;
    }
    .box {
        width:300px;
        margin: 0 auto;
        margin-top:30px;
    }
    .box li:first-child {
      border: 2px black solid;
      padding:5px 10px;
    }
    .power-bar {
        height: 50px;
        width:200px;
        box-sizing: content-box;
        border: 1px solid black;
        margin: 0 auto;
    }
    .power-content {
        height: 50px;
        width:100%;
        background-color: hotpink;
    }
    .monster {
        background-color: darkred;
        color: white
    }
    .me {
        background-color: yellowgreen;
    }
</style>
